<!DOCTYPE html>
<html>
<head>
    <title>TSL Data</title>
    <link rel='stylesheet' href='/css/bulma.min.css'/>
    <link rel='stylesheet' href='/css/all.min.css'/>

    <style>
        .card a {
            color: #363636;
        }

        .card .fa {
            color: #2980b9;
        }

        .card {
            transition: box-shadow 0.3s ease-in-out;
        }

        .card:hover {
            box-shadow: 0 12px 13px rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .1);
        }
    </style>
</head>
<body>

<section class="section">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">TSL Data</h1>
            <p class="subtitle">What type of data are you after?</p>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <a href="http://sequences.tsl.ac.uk">

                            <div class="card-content">
                                <i class="fa fa-dna fa-10x"></i>
                                <hr>
                                <p class="title">TSL Sequence Data</p>
                                <p class="subtitle">sequences.tsl.ac.uk</p>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="column">
                    <div class="card">
                        <a href="http://images.tsl.ac.uk">
                            <div class="card-content">
                                <i class="fa fa-microscope fa-10x"></i>
                                <hr>
                                <p class="title">TSL Image Data</p>
                                <p class="subtitle">images.tsl.ac.uk</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>